body {
	margin: 0;
	margin-top: 70px;
	background-color: lavender;
}

nav {
	position: fixed;
	background-color: #cc99ff;
	width:100%;
	top: 0;
	left: 0;
	text-align: center;
}

nav ul {
	padding: 0;
}

nav > ul > li {
	display: inline-block;
	padding: 10;
}

nav li{
	display: inline-block;
	padding: 0 30px;
	font-family: 'Roboto Condensed', sans-serif;
	vertical-align: top;
}
/*this is for submenus*/
nav ul ul {
	display: none;
	position: fixed;
	background-color: #cc99ff;

}

nav ul ul li {
	display: block;
}

nav ul li:hover ul{
	display: block;
}

nav a {
	text-decoration: none;
}

#menu-button {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1;
}


h1	{
	font-family: 'Roboto Condensed', sans-serif;
	color: #ff0066;
	font-size: 20px;
	padding-top: 20px;
	padding-left: 15px;
}

#para {
	font-family: 'Roboto Condensed', sans-serif;
	color: #14141f;
	padding-left: 20px;
	padding-right: 20px;
}

.current {
	text-decoration: underline;
}

/*.home1 {
	.header-shadow{
    background-image: url('../images/paisley.png');
    background-repeat: repeat-y; /* for vertical repeat */
    background-repeat: repeat-x; /* for horizontal repeat */
    height:xxpx;
}
}*/

section {
	margin-top: -50px;
	padding-top: 50px;
}

nav button {
	display: none;
}

@media(max-width: 768px) {
	nav > ul > li {
		display: block;
	}
	#menu-button {
		display: block;
	}
	nav ul {
		display: none;
		text-align: right;
	}

	body {
		margin-top: 0;
	}

	h1	{
		font-family: 'Roboto Condensed', sans-serif;
		color: #ff0066;
		font-size: 20px;
		padding-top: 90px;
		padding-left: 15px;
}

	nav ul ul {
		position: static;
	}

	nav ul ul li {
		padding: 0;
		font-size: .8em;
		display: none;
		list-style-type: none;
	}

}
